<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.alog.pay.mapper.ProjectMapper" >
  <resultMap id="BaseResultMap" type="com.alog.pay.model.Project" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="warehouse" property="warehouse" jdbcType="VARCHAR" />
    <result column="project_name" property="projectName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="wms" property="wms" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="update_person" property="updatePerson" jdbcType="VARCHAR" />
    <result column="shipper_id" property="shipperId" jdbcType="VARCHAR" />
    <result column="shipper_name" property="shipperName" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pay_project
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.alog.pay.model.Project" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pay_project (warehouse, project_name, state, 
      wms, update_time, update_person, 
      shipper_id, shipper_name)
    values (#{warehouse,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, 
      #{wms,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updatePerson,jdbcType=VARCHAR}, 
      #{shipperId,jdbcType=VARCHAR}, #{shipperName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.alog.pay.model.Project" >
    update pay_project
    set warehouse = #{warehouse,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      wms = #{wms,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_person = #{updatePerson,jdbcType=VARCHAR},
      shipper_id = #{shipperId,jdbcType=VARCHAR},
      shipper_name = #{shipperName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, warehouse, project_name, state, wms, update_time, update_person, shipper_id, 
    shipper_name
    from pay_project
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, warehouse, project_name, state, wms, update_time, update_person, shipper_id, 
    shipper_name
    from pay_project
  </select>
</mapper>